---
import BaseHead from '../components/base-head.astro';
import ExperienceSection from '../components/experience-section.astro';
import Footer from '../components/footer.astro';
import HeroSection from '../components/hero-section.astro';
import Projects from '../components/projects.astro';
import { PAGE_DESCRIPTION, PAGE_TITLE } from '../constants.ts';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout>
  <html lang='en'>
    <head>
      <BaseHead title={PAGE_TITLE} description={PAGE_DESCRIPTION} />
    </head>
    <body>
      <HeroSection />
      <ExperienceSection />
      <Projects />
      <Footer />
    </body>
  </html>
</BaseLayout>
